{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
      <div class="row-fluid">
        {% if messages %}
        <div class="span6 ">
          <div class="alert alert-block">
            <a class="close" data-dismiss="alert">×</a>
          {% for message in messages %}
           <p>{{ message }}</p>
          {% endfor %}
          </div><!-- alert-block -->
        </div><!--/span6 -->
        {% endif %}
        {% comment %}
         <div class="span8">
          <div class="alert alert-block">
            <a class="close" data-dismiss="alert">×</a>
            <h3>Welcome! This is your New Appliance.</h3>
            <p>Appliance id: <a href="/box/{{ bid }}">{{ bid }}</a></p>
            <p>Appliance name: {{ box_name }}</p>
            <p>Location: {{ box.location }}</p>
            <p>Owner Email: {{ box.owner.email }}</p>
            <br/>
            <h3>Available Walls | Wall Owner Email | Wall.id | Wall.published</h3> 
            {% for wall in walls %}
              <p>{{ wall.name }}  |  {{ wall.owner.email }}  |  {{ wall.id }}  |  {{ wall.published }} </p>
            {% endfor %} 
         </div><!-- alert-block -->
          <hr/> 
       </div><!--/span-->
     </div><!--/row-->
       {% endcomment %} 
  
     <div class="row-fluid ">
       <div class="span6 well">
         <h1 align="center">WikiWall - Details</h1>
         <br />
         <h2 align="center">Device Info</h1>
         <h3>Box ID: {{ box.name }}</h3>
         <h3>Room Name: {{ box.location }}</h3>
       </div>
     </div> 
     <div class="row-fluid span8">
       <div class="span10">
        <h2>Devices on Quick Share List</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Room Name</th>
                <th>Box ID</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for box in boxes %}
              <tr id="{{ box.id }}">
                <td>Hello World</td>
                <td>box.name</td>
                <td>box.location</td>
                <td><a class="btn" href="/devices/unshare/{{ box.id }}/" </a></td>
             </tr>
              {% endfor %}
            </tbody>
          </table>
          </div><!--/span-->
      </div>
    </div> 
{% endblock %}
