{% extends "base.html" %}

{% block content %}
    <div class="container-fluid well span8">
      <div class="row-fluid">
        {% if messages %}
        <div class="span6 ">
          <div class="alert alert-block">
            <a class="close" data-dismiss="alert">×</a>
          {% for message in messages %}
           <p>{{ message }}</p>
          {% endfor %}
          </div><!-- alert-block -->
        </div><!--/span6 -->
       </div><!--/row -->
        {% endif %}
      <div class="row-fluid span8">
         <div class="span10 ">
           <h1>WikiWall - Details</h1>
           <br />
           <h2>Device Info</h1>
           <br />
           <table class="table">
             <thead>
               <tr>
                 <th>Device ID</th>
                 <th>Room Name</th>
                 <th>Update Room Name</th>
                 <th></th>
               </tr>
             </thead>
             <tbody>
             	<tr>
             	 <form action="." method="post" class="form-horizontal">
               	    <td>{{ box.box_id }}</td>
               	    <td>{{ box.box_name }}</td>
                    {% csrf_token %}
                    {% for field in editform %}
                    <td>{{ field }}</td>
                    <td>{{ field.errors }}</td>
                    <td><input type="submit" value="Update" class="btn btn-primary btn-small"></input></td>
                    {% endfor %}
               </form>
               </tr>
             </tbody>
           </table>
         </div>
      </div> 

      <div class="row-fluid span8">
        <div class="span10">
          <h2>Devices on Quick Share List</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Box ID</th>
                <th>Room Name</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for shared in sharing %}
              <tr id="{{ shared.id }}">
                <td>{{ shared.box_id }}</td>
                <td>{{ shared.box_name }}</td>
                <td><a class="btn" href="/devices/{{ box.box_id }}/unshare/{{ shared.box_id }}/" </a>Remove</td>
             </tr>
              {% endfor %}
             <tr>
               <form action="." method="post" class="form-horizontal">
                  {% csrf_token %}
                  {% for field in shareform %}
                  <td>{{ field }}</td>
                  <td><input type="submit" value="Add" class="btn btn-primary btn-small"></input></td>
                  {% endfor %}
               </form>
             </tr>
             <tr>
                 <td>{{ field.errors }}</td>
             </tr>
            </tbody>
          </table>
			    <a href="/devices/" class="btn">Back</a>
          </div><!--/span-->
      </div>
    </div> 
    {% endblock %}
