{% extends "base.html" %}

{% block title %}
    Kolabria - My Appliances</title>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row-fluid">
    {% if messages %}
      <div class="span6 offset3">
        <div class="alert alert-block">
          <a class="close" data-dismiss="alert">×</a>
        {% for message in messages %}
         <p>{{ message }}</p>
        {% endfor %}
        </div><!-- alert-block -->
      </div><!--/span6 -->
    {% endif %}
  </div><!-- /row -->
    <div class="row-fluid">
      <div class="span6 ">
        <h1>WikiWall</h1>
        <br/>
        <h3>Device List:</h3>
        <br/>
        <table class="table">
          <thead>
            <tr class="offset1">
              <th>Device ID</th>
              <th>Device Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
              {% for box in boxes %}
            <tr>
              <td>{{ box.box_id }}</td>
              <td>{{ box.box_name }}</td>
              <td><a class="btn" href="/devices/edit/{{ box.id }}">edit</button></td>
              <td><a class="btn" href="/devices/remove/{{ box.id }}">remove</a></td>
            </tr>
            {% endfor %}

            <tr>
              <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                {% for field in form %}
                <td>{{ field }}</td>
                {% endfor %}
              <td><input type="submit" value="Add" class="btn btn-primary btn-small"></input></td>
            </tr>
              <tr>
                <td>{{ field.errors }}</td>
              </tr>
              </form>
           </tbody>
         </table>
      </div><!--/span-->
    </div><!--/row-->
{% endblock content %}
