{% extends "base.html" %}

{% block title %}
    Kolabria - My Appliances</title>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row-fluid">
    {% if messages %}
      <div class="span6 offset3">
        <div class="alert alert-block">
          <a class="close" data-dismiss="alert">×</a>
        {% for message in messages %}
         <p>{{ message }}</p>
        {% endfor %}
        </div><!-- alert-block -->
      </div><!--/span6 -->
    {% endif %}
  </div><!-- /row -->
    <div class="row-fluid">
      <div class="span6 ">
        <h3>WikiWall Device List:</h3>
        <table class="table">
          <thead>
            <tr class="offset1">
              <th>Device Name</th>
              <th>Location</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
              {% for box in boxes %}
            <tr>
              <td>{{ box.name }}</td>
              <td>{{ box.location }}</td>
              <td>{{ box.status }}</td>
              <td>{{ wall.modified }}</td>
              <td><a href="/appliance/edit/{{ box.id }}">edit</a></td>
              <td><a href="/appliance/remove/{{ box.id }}">remove</a></td>
            </tr>
            {% endfor %}

            <tr>
              <form action="." method="post" class="form-horizontal">
                  {% csrf_token %}
                  {% for field in form %}
                  <td>{{ field.label}}</td> 
                  <td>{{ field }}</td>
                  {% endfor %}
                  <td><input type="submit" value="Add" class="btn btn-primary btn-small"></input></td>
                </form>
           </tbody>
            </tr>
          </table>
      </div><!--/span-->
    </div><!--/row-->
{% endblock content %}
