{% extends "base.html" %}

{% block title %}
    Kolabria - My Appliances</title>
{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row-fluid">

      {% include "includes/appliance-sidebar.html" %}

        <div class="span6 offset3">
          <div class="alert alert-block">
            <a class="close" data-dismiss="alert">×</a>
            <p>This is your Appliances Page. You can manage your WikiWall Appliances here.</p>
          </div><!-- alert-block -->
        </div><!--/span6 -->

        <div class="span6 ">
          <h3>Appliances:</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Appliance Name</th>
                <th>Location</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for box in boxes %}
              <tr>
                <td><a href="/box/{{ box.id }}">{{ box.name }}</a></td>
                <td>{{ box.location }}</td>
                <td>{{ box.status }}</td>
                <td>{{ wall.modified }}</td>
                <td>
                  <div class="btn-group">
                    <a class="btn" href="/appliance/detail/{{ box.id }}">view</a><a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">share</a></li>
                      <li><a href="/appliance/edit/{{ box.id }}">edit</a></li>
                      <li><a href="/appliance/remove/{{ box.id }}">remove</a></li>
                    </ul>
                  </div>
                </td>
                </tr>
              {% endfor %}
             </tbody>
            </table>
        </div><!--/span-->
      </div><!--/row-->
{% endblock content %}
