body {
  padding:0;
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position:relative;
  overflow:hidden;
  height:100%;
  width:100%;
}
header{
  position: absolute;
  left:0;
  bottom:0px;
  width:100%;
  background:black;
  z-index:1;
  overflow:hidden;
}
header h1{
  float:right;
  color:white;
  padding:10px;
  margin:0;
  display:block;  
}
nav { 
  float:left;
}
nav ul{
  display:block;
  margin:0;
  padding:0;
}
nav ul li{
  list-style-type: none;
  margin:0;
  padding:0;
  display:inline-block;
}
a {
  color: #00B7FF;
}

canvas{
  position:relative;
  background-image: url(../img/grid_noise.png);
}

.move{
  cursor:move;
}
.pen{
  cursor:crosshair;
}
.crosshair{
  cursor:pointer;
}
.icon-remove{
  cursor:pointer;
  display: inline-block;
  z-index:1;
  position:absolute;
  width: 14px;
  height: 14px;
  vertical-align: text-top;
  background-image: url(../img/glyphicons-halflings.png);
  background-position: 14px 14px;
  background-repeat: no-repeat;
  background-position:-312px 0;
}