body {
  padding:0;
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position:relative;
  overflow:hidden;
  height:100%;
  width:100%;
}
header{
  background:black;
}
h4{
  text-align:center;
}
.dropdown-menu{
  padding:5px;
}
.pen .dropdown-menu{
  min-width:28px;
  background:black;

  text-align:center;
}
canvas{
  position:relative;
  background-image: url(../img/grid_noise.png);
}

.move{
  cursor:move;
}
.pen{
  cursor:crosshair;
}
.crosshair{
  cursor:pointer;
}

.navigation{
  position:relative;
}
#navWindow { 
  width: 200px; 
  height: 150px;
  padding:2px; 
  float: left; 
  background:black;
  display:none;
  position:absolute;
  bottom:56px;
  left:0;
}

#navWindow .btn-group{
  width: 200px;
  position: absolute;
  top: -28px;
  left: 0px;
  background:black;
  padding: 2px;
}
#navWindow .btn-group .btn{width:33%;}
#view{
  background:blue;
  display:block
}
#toolbar i, #navWindow i, #functions i{pointer-events:none}
#alerts{position:absolute;top:0;right:0;width:200px;height:auto;}
