Subject: Password reset instructions for your Wikiwall account. 

Hello,

A request was received to reset the password of your WikiWall account.

Your username is: {{ user.username }}
email address: {{ user.email }}

If you did not request this information, please delete this email immediately.

If you wish to reset your password, select the following link and follow the instructions.

{{ protocol }}://{{ site_name }}/accounts/password_reset/confirm/{{ uid }}-{{ token }}/

Thank you for using Wikiwall

Kolabria Support
admin@kolabria.com
