{% extends "base.html" %}

{% block title %} Kolabria Wikiwall - Master | {{ wall.name }} {% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="http://points.kolabria.com/stylesheets/wall.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">

    <script src="http://points.kolabria.com/javascripts/paper.js"></script>
    <script src="http://points.kolabria.com/javascripts/ios.js "></script>
    <script src="http://points.kolabria.com/javascripts/touch-punch.min.js"></script>
    
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/lihost/wikiwall/WWA1/bs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script src="http://points.kolabria.com/nowjs/now.js"></script><!--this is what allows realtime communication -->
{% endblock styles %}

{% block navbar %}
 <header><nav id="toolbar" class="toolbar">
    <ul class="navigation">
        <li><button type="button" onclick="" value="Pen" class="btn tool"><i class="icon-pencil"></i></button>
        <ul>
            <li><button type="button" onclick="" value="Black" class="btn btn-inverse color"></button></li>
            <li><button type="button" onclick="" value="Red" class="btn btn-danger color"></button></li>
            <li><button type="button" onclick="" value="Green" class="btn btn-success color"></button></li>
            <li><button type="button" onclick="" value="Blue" class="btn btn-primary color"></button></li>
        </ul>
        </li>
        <li><button type="button" onclick="" value="Nav" class="btn tool"><i class="icon-move"></i></button></li>
        <li><button type="button" onclick="" value="Select" class="btn tool"><i class="icon-hand-up"></i></button></li>
        <li><button type="button" onclick="" value="Shared" class="btn share"><i class="icon-inbox"></i></button></li>
        <li><button type="button" onclick="" value="Users" class="btn share"><i class="icon-user"></i></button></li>
        <li><a href="http://http://points.kolabria.com/settings" class="settings btn"><i class="icon-cog"></i></a></li>
        <li><a href="/walls/restore/{{ box.box_id }}" class="clear btn"><i class="icon-trash"></i></a></li>
    </ul>
    </nav>
    <h1>{( box.box_name }} | {{ wall.code }}</h1>
    </header>
{% endblock navbar %}

{% block content %}
    <div class="whiteboard">
        <canvas id="myCanvas" resize></canvas>
    </div>
    <div id="navWindow">
        <div id="view">
        </div>
        <div class="btn-group">
            <button type="button" onclick="" value="ZoomIn" class="btn tool"><i class="icon-plus"></i></button><button type="button" onclick="" value="Center" class="btn tool"><i class="icon-asterisk"></i></button><button type="button" onclick="" value="ZoomOut" class="btn tool"><i class="icon-minus"></i></button>
        </div>
    </div>
    <div id="walls" class="modal fade">
        <div class="modal-header">
            <button data-dismiss="modal" class="close">x</button>
            <h3>Shared Walls</h3>
        </div>
        <div class="modal-body">
            <ul></ul>
        </div>
    </div>
    <div id="users" class="modal fade">
        <div class="modal-header">
            <button data-dismiss="modal" class="close">x</button>
            <h3>Online Users</h3>
        </div>
        <div class="modal-body">
            <ul></ul>
        </div>
    </div>
    <div id="alerts"></div>
{% endblock content %}

{% block morejs %}
    <script>
      var wallId = '{{ wall.id }}';
      var companyId = '{{ wall.company.id }}'; //from application 
      var boxID = '{{ box.box_id }}'; //from application 
      var name = '{{ box.box_name }}'; //from application 
    </script>
    <script src="{{ STATIC_URL }}js/wall.js" canvas="myCanvas" type="text/paperscript"></script>
{% endblock morejs %}
