{% extends "base.html" %}

{% block title %} Kolabria Wikiwall - Master | {{ wall.name }} {% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="http://points.kolabria.com/stylesheets/wall.css">
{% endblock styles %}

{% block navbar %}
<header class="navbar navbar-fixed-bottom">
    <nav id="toolbar" class="toolbar">
        <ul class="nav pull-left">
            <li class="btn-group dropup pen">
                <button type="button" onclick="" value="Pen" class="btn tool"><i class="icon-pencil"></i></button>
                <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
        	    <ul class="dropdown-menu pull-right">
            		<li><button type="button" onclick="" value="Black" class="btn btn-inverse color"></button></li>
            		<li><button type="button" onclick="" value="Red" class="btn btn-danger color"></button></li>
            		<li><button type="button" onclick="" value="Green" class="btn btn-success color"></button></li>
            		<li><button type="button" onclick="" value="Blue" class="btn btn-primary color"></button></li>
            	</ul>
        	</li>
        	<li><button type="button" onclick="" value="Nav" class="btn tool"><i class="icon-move"></i></button></li>
        	<li><button type="button" onclick="" value="Select" class="btn tool"><i class="icon-hand-up"></i></button></li>
        	<li id="walls" class="btn-group dropup">
                <button data-toggle="dropdown" class="btn dropdown-toggle"><i class="icon-inbox"></i><span class="caret"></span></button>
            	<ul class="dropdown-menu">
            		<li>
            		<h4>Shared Walls</h4>
            		</li>
            		<li class="divider"></li>
            		<li class="12341142"><a href="/connect/12341142">hostPC</a></li>
            	</ul>
        	</li>
        	<li id="users" class="btn-group dropup">
                <button data-toggle="dropdown" class="btn dropdown-toggle"><i class="icon-user"></i><span class="caret"></span></button>
            	<ul class="dropdown-menu">
            		<li>
            		<h4>Active Users</h4>
            		</li>
            		<li class="divider"></li>
            	</ul>
        	</li>
        </ul>
    </nav>
    <div class="pull-right">
    	<a href="#" class="brand">{{ box.box_name }} | {{ wall.code }}</a>
        <nav class="nav btn-group">
            <a href="http://http://points.kolabria.com/settings" class="settings btn"><i class="icon-cog"></i></a>
            <a href="/walls/restore/{{ box.box_id }}" class="quit btn pull-right"><i class="icon-off"></i></a>            
        </nav>
    </div>
</header>
{% endblock navbar %}

{% block content %}
    <div class="whiteboard">
        <canvas id="myCanvas" resize></canvas>
    </div>
    <div id="navWindow">
        <div id="view">
        </div>
        <div class="btn-group">
            <button type="button" onclick="" value="ZoomIn" class="btn tool"><i class="icon-plus"></i></button>
            <button type="button" onclick="" value="Center" class="btn tool"><i class="icon-asterisk"></i></button>
            <button type="button" onclick="" value="ZoomOut" class="btn tool"><i class="icon-minus"></i></button>
        </div>
    </div>
    <div id="alerts"></div>
{% endblock content %}

{% block morejs %}
    <script>
      var wallId = '{{ wall.id }}';
      var companyId = '{{ wall.company.id }}'; //from application 
      var boxID = '{{ box.box_id }}'; //from application 
      var name = '{{ client }}'; //from application 
    </script>
    <script src="http://points.kolabria.com/javascripts/paper.js"></script>
    <script src="http://points.kolabria.com/javascripts/touch-punch.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.20.min.js"></script>
    <script src="http://points.kolabria.com/nowjs/now.js"></script><!--this is what allows realtime communication -->
    <script src="{{ STATIC_URL }}js/wall.js" canvas="myCanvas" type="text/paperscript"></script>
{% endblock morejs %}
