{% block sidebar %}

        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Account</li>
                <li><a href="/walls/"><i class="icon-home"></i> Home</a></li>
                <li><a href="/walls/"><i class="icon-th" ></i> Whiteboards</a></li>
                <!-- <li><a href="#"><i class="icon-inbox"></i> Messages</a></li> -->
                <li class="active"><a href="/appliances/"><i class="icon-cog"></i> Appliances</a></li>
                <li><a href="/profile"><i class="icon-user"></i> Profile</a></li>
            </ul>
          </div><!--/.well sidebar-nav -->
          <a class="btn btn-primary btn-large" href="/appliances/register">Register a New Appliance</a>
        </div><!--/span2 -->

{% endblock sidebar %}
