{% extends "base.html" %}

{% block title %}
    Kolabria - Join a Meeting</title>
{% endblock %}

{% block content %}
    <div class="container-fluid well span8">
      <div class="row-fluid">
        {% if messages %}
        <div class="span6 ">
          <div class="alert alert-block">
            <a class="close" data-dismiss="alert">×</a>
          {% for message in messages %}
           <p>{{ message }}</p>
          {% endfor %}
          </div><!-- alert-block -->
        </div><!--/span6 -->
       </div><!--/row -->
        {% endif %}

        <div class="row-fluid span8">
         <div class="span10 ">
           <h1>Kolabria - File Upload Test</h1>
           <br />
           <form enctype="multipart/form-data" method="post" action="/upload/">
               {% csrf_token %}
               {% for field in form %}
               <p>{{ field.label }} {{ field }}</p>
               {% endfor %}
              <input type="submit" value="Submit" id="Save" class="btn btn-primary" />
           </form>
        </div>
      </div> 
    {% endblock %}


