{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=device-dpi">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}images/apple-touch-icon-114x114.png">

    <title>{% block title %}Kolabria WikiWall - Real-time Collaborative Whiteboard{% endblock title %}</title>
    
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
   
    {% block styles %}
    <!-- Le styles -->
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    {% endblock styles %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body class="background">
     {% block navbar %}
       {% include "includes/topnav.html" %}
     {% endblock navbar %}

     {% block content %}{% endblock content %}

     {% comment %}
      <div class="row-fluid">
      	<div class="span10">
          <footer>
        	<p align="center">&copy; 2012 All Rights Reserved. <a href="#">Subject to Terms of Service</a></p>
          </footer>
        </div><!--span -->
      </div><!--row -->
      {% endcomment %}

    <script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js" ></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js" ></script>
    <script src="http://points.kolabria.com/javascripts/ios.js "></script>
    {% block js %} 
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
    {% endblock js %}    
    <script>
      iOS_disableZooming();
      iOS_disableScrolling();
      window.onorientationchange = function(){
        if ( orientation == 0 || orientation == 180) {
          window.scrollTo(0,1);
        }  
      }
    </script>
    {% block morejs %}{% endblock morejs %}

  </body>
</html>
