{% load url from future %}

{% load post_tags %}
{% load flatpages %}
{% load markup %}

{% get_flatpages as flatpages %}

<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}{% endblock %}
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
    	{% block title %}
    		Kolabria - Account Management
    	{% endblock %}
    </title>
    <link rel="Shortcut Icon" href="{{ STATIC_URL }}img/favicon.ico"></link>
	<meta name="keywords" content="" />
    <meta name="robots" content="index, follow" />
	<meta name="Revisit-after" content="1 days" />
	<meta name="DISTRIBUTION" content="GLOBAL" />
	<meta name="expires" content="never" />
	<meta name="rating" content="general" />
    <meta name="author" content="kolabria" />
	<meta name="description" content="Wikiwall Appliance Management" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}prettify.css" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/examples/images/favicon.ico">
    <link rel="apple-touch-icon" href="http://twitter.github.com/bootstrap/examples/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://twitter.github.com/bootstrap/examples/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://twitter.github.com/bootstrap/examples/images/apple-touch-icon-114x114.png">

  </head>

  <body onLoad="prettyPrint()">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url 'links:index' %}">Kolabria</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li>
              	<a href="{% url 'links:index' %}">Home</a>
              </li>
              <li>
              	<a href="{% url 'links:index' %}">About</a>
              </li>
            	</ul>
              </li>
            </ul>
            {% if user.is_authenticated %}
				<div class="btn-group offset6">
					<a class="btn btn-success" href="{% url 'users:show_profile' user.username %}">{{ user.username }}</a>
					<a class="btn btn-success dropdown-toggle" href="#" data-toggle="dropdown">
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{% url 'users:show_profile' user.username %}">
								<i class="icon-user"></i> Profile
							</a>
						</li>
						<li>
							<a href="{% url 'users:settings' %}">
								<i class="icon-cog"></i> Settings
							</a>
						</li>
												
						<li class="divider"></li>
						<li>
							<a href="{% url 'users:logout' %}">
								<i class="icon-off"></i> Logout
							</a>
						</li>
					</ul>
        		</div>
            {% else %}
				<div class="btn-group pull-right">
					<a class="btn btn-primary" href="#">Login or Signup</a>
					<a class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown">
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{% url 'users:login' %}">
								<i class="icon-ok"></i> Login
							</a>
						</li>
						<li>
							<a href="{% url 'users:signup' %}">
								<i class="icon-user"></i> Signup
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="/accounts/password_reset/">
								<i class="icon-lock"></i> Reset Password
							</a>
						</li>
					</ul>
        		</div>
            {% endif %}

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          {% if user.is_authenticated %}
          <div class="well sidebar-nav">
            <ul class="nav nav-list">            	
          		<li class="nav-header">User Details</li>
              <p><strong>Username: </strong>{{ user.username }}<p>
           		<li>
            			<a href="{% url 'users:settings' %}">
            				Settings
            			</a>
            		</li>
            		<li class="nav-header">Profile Details</li>
            		<li>
            			<a href="{% url 'users:show_profile' user %}">Profilie</a>
            		</li>
            		<li>
            			<a href="/accounts/settings/update_user/">
            				Update Details
            			</a>
            		</li>
            		<li>
            			<a href="{% url 'users:update_profile' %}">
            		    Update Profile	
            			</a>
                </li>
            		<li>
                <a href="{% url 'users:password_change' %}">
                  Change Password	
                </a>
            		</li>
 
            		<li class="nav-header">Invite Users</li>
            		<li>
            			<a href="{% url 'users:invite_friends' %}">
            				Invite Users
            			</a>
            		</li>
          {% endif %}
           </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9 offset4">
          {% block content %}
          {% endblock %}
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
      	<center>
      		<p>      			
         	<p>
        		<a href="http://www.djangoproject.com/"><img
                    src="http://media.djangoproject.com/img/badges/djangoproject120x25.gif"
                    border="0" alt="A Django powered site" title="A Django project." /></a>
        		<br />
        		All rights reserved. &copy; 2012 Radiobeam Networks
        	</p>
       </center>
      </footer>

    </div><!--/.fluid-container-->
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
    <script src="{{ STATIC_URL }}js/simple-confirm.js"></script>
    <script src="{{ STATIC_URL }}prettify.js"></script>    
    <!-- Thanks http://blog.cloudme.org/2010/10/simple-confirm-dialog-with-jquery/ -->
</body></html>
