{% extends "base.html" %}

{% block title %}
    Kolabria - Homepage</title>
{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row-fluid offset1">
        <div class="hero-unit span8">
          <h1>Hello, world!</h1>
          <p>Welcome to Kolabria. We develop immersive real-time collaboration solutions that transform any television or projector into an interactive whiteboard that can be shared securely with any one on any device.</p>
          <p>
            <a class="btn btn-large offset5" href="http://www.kolabria.com">Learn more &raquo;</a>
            <a class="btn btn-primary btn-large pull-right" href="/register/">Register Account</a>
          </p>
          <p>
            <a class="btn btn-primary btn-large pull-left" href="/join/">Join Meeting</a>
          </p>
        </div><!--/span -->
     </div><!-- /row -->
{% endblock content %}
